.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1140px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.navbar-desktop {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.navbar-main {
  gap: 18.5vw;
  color: #212121;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-container {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 0px;
  flex-direction: column;
  padding-bottom: 12px;
}
.navbar-link {
  display: contents;
}
.navbar-text {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-container2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  font-size: 18px;
  align-self: flex-start;
  align-items: flex-end;
  font-family: Poppins;
  font-weight: 300;
  padding-top: 12px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: flex-end;
}
.navbar-quick-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-sign-up-btn {
  width: 120px;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #2270E2;
}
.navbar-sign-up-btn:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.navbar-sign-up {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.navbar-hamburger-menu {
  width: 20px;
  height: 12px;
  display: none;
}
.navbar-mobile {
  gap: var(--dl-space-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-icon {
  width: 28px;
  height: 28px;
}
.navbar-links1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.navbar-text1 {
  text-decoration: none;
}
.navbar-text2 {
  text-decoration: none;
}
.navbar-text3 {
  text-decoration: none;
}
.navbar-text4 {
  text-decoration: none;
}
.navbar-buttons {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.navbar-btn {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text5 {
  font-style: normal;
  font-weight: 500;
}
.navbar-container4 {
  display: contents;
}
@media(max-width: 1600px) {
  .navbar-main {
    gap: 24vw;
  }
}
@media(max-width: 1200px) {
  .navbar-main {
    gap: 29vw;
  }
}
@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .navbar-links {
    display: none;
  }
  .navbar-sign-up-btn {
    display: none;
  }
  .navbar-hamburger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-mobile {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
